<html xmlns="http://www.w3.org/1999/xhtml">    
	<head>      
		<title>ReactiveSwift Documentation</title>      
		<meta http-equiv="refresh" content="0;URL='http://reactivecocoa.io/reactiveswift/docs/{RELEASE_TAG}/'" />    
	</head>
	<body> 
		If you have not been redirected, <a href="http://reactivecocoa.io/reactiveswift/docs/{RELEASE_TAG}/">click here</a>.
	</body>
</html>
