on: pull_request
name: Test
jobs:
  test:
    name: Test
    runs-on: macos-15
    strategy:
        fail-fast: false
        matrix:
          destination: [macOS, iOS, tvOS, watchOS]
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.0.app/Contents/Developer
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Recover cached dependencies
        uses: actions/cache@v4
        id: dependency-cache
        with:
          path: Carthage/Checkouts
          key: carthage-${{ hashFiles('Cartfile.resolved') }}
      - name: Pull dependencies
        if: steps.dependency-cache.outputs.cache-hit != 'true'
        run: |
          carthage checkout
      - name: Test via xcodebuild
        run: |
          ACTION=test
          DESTINATION=unknown
          SCHEME=unknown

          case "${{ matrix.destination }}" in
          "iOS")
            DESTINATION="platform=iOS Simulator,name=iPhone 14 Pro"
            SCHEME=ReactiveSwift-iOS
            ;;
          "tvOS")
            DESTINATION="platform=tvOS Simulator,name=Apple TV"
            SCHEME=ReactiveSwift-tvOS
            ;;
          "watchOS")
            ACTION=build
            DESTINATION="platform=watchOS Simulator,name=Apple Watch Series 5 (44mm)"
            SCHEME=ReactiveSwift-watchOS
            ;;
          "macCatalyst")
            DESTINATION="platform=macOS,variant=Mac Catalyst"
            SCHEME=ReactiveSwift-iOS
            ;;
          "macOS")
            DESTINATION="platform=macOS,arch=x86_64"
            SCHEME=ReactiveSwift-macOS
            ;;
          *)
            echo "Unknown destination."
            exit 1
            ;;
          esac

          xcodebuild clean ${ACTION} \
            -destination "${DESTINATION}" \
            -scheme ${SCHEME} \
            -workspace ReactiveSwift.xcworkspace \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            ONLY_ACTIVE_ARCH=YES

  swiftpm-linux:
    strategy:
      matrix:
        swift: ["5.9"]

    name: SwiftPM Linux
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Swift version
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull dependencies
        run: |
          swift package resolve
      - name: Test via SwiftPM
        run: |
          swift --version
          swift build
          swift test
